.input-bar {
  margin-bottom: var(--vertical-gap);
}
.input-bar__input {
  caret-color: var(--color-bright-blue);
}
.input-bar__input:focus {
  color: var(--item-color--active);
}

.close-icon {
  fill: var(--item-color);
}
.close-icon:hover {
  fill: var(--item-color--active);
}
.todos {
  overflow: hidden;
  width: 100%;
  max-width: var(--max-item-width);
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--delimiter-color);
  padding: 1rem;
  color: var(--item-color--active);
}
.todo:hover {
  cursor: pointer;
}

.todo__title {
  flex-grow: 1;
  max-width: 90%;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
}
.todo__title--completed {
  text-decoration: line-through;
  color: var(--item-color);
}

.todos__summary {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 700;
}
.todos__clear-button:hover {
  color: var(--item-color--active);
}
.filters {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  margin-top: var(--vertical-gap);
}
.filters__button {
  font-weight: 700;
}
.filters__button:hover {
  color: var(--item-color--active);
}
.filters__button--active {
  color: var(--color-bright-blue);
}

@media screen and (min-width: 760px) {
  .todo__close-button {
    visibility: hidden;
  }
  .todo:hover > .todo__close-button {
    visibility: visible;
  }
}
