.input-bar {
  margin-bottom: var(--vertical-gap);
}
.input-bar__input {
  caret-color: var(--color-bright-blue);
}
.input-bar__input:focus {
  color: var(--item-color--active);
}

.close-icon {
  fill: var(--item-color);
}

.todos {
  overflow: hidden;
  width: 100%;
  max-width: var(--max-item-width);
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--delimiter-color);
  padding: 1rem;
  color: var(--item-color--active);
}
.todo:hover {
  cursor: pointer;
}

.todo__title {
  flex-grow: 1;
  max-width: 90%;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
}
.todo__title--completed {
  text-decoration: line-through;
  color: var(--item-color);
}

.todos__summary {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.todos__clear-button:hover,
.todos__clear-button:focus {
  color: var(--item-color--active);
}
.todos__summary--desktop {
  display: none;
}
.todo__close-button:hover > .close-icon,
.todo__close-button:focus > .close-icon {
  fill: var(--item-color--active);
}
.filters {
  display: flex;
  justify-content: space-around;
  margin-top: var(--vertical-gap);
}
.filters__button {
  font-weight: 700;
}
.filters__button:hover,
.filters__button:focus {
  color: var(--item-color--active);
}
.filters__button--active {
  color: var(--color-bright-blue);
}

@media screen and (min-width: 760px) {
  .todo__close-button {
    opacity: 0;
  }
  .todo:hover > .todo__close-button,
  .todo:focus-within > .todo__close-button {
    opacity: 1;
  }

  .todos__summary--desktop {
    display: flex;
    font-size: 0.9em;
  }
  .todos__summary--mobile {
    display: none;
  }
  .filters {
    display: none;
  }
}
