.header {
  width: 100vw;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.5rem 2rem 0 2rem;
}

.header--theme-light {
  color: var(--color-very-light-gray);
  background-image: url("assets/images/bg-mobile-light.jpg");
}
.header--theme-dark {
  color: var(--color-grayish-blue--light);
  background-image: url("assets/images/bg-mobile-dark.jpg");
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__app-title {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 10px;
}

@media screen and (min-width: 500px) {
  .header--theme-light {
    background-image: url("assets/images/bg-desktop-light.jpg");
  }
  .header--theme-dark {
    background-image: url("assets/images/bg-desktop-dark.jpg");
  }
}
