.header {
  width: 100vw;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.5rem var(--main-horizontal-padding) 0
    var(--main-horizontal-padding);
  background-image: var(--header-image);
  color: var(--header-color);
}

.header__row {
  display: flex;
  justify-content: space-between;
}
.header__app-title {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 10px;
}

@media screen and (min-width: 500px) {
  .header {
    background-image: var(--header-image--desktop);
  }
}
